@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

/*---------Top-Menu-------*/
.top-bar {
  background-color: rgb(4, 56, 115);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  height: 25px;
}
.nav-bar {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.nav-menu ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
}

.nav-menu li {
  padding: 0 10px;
}
.nav-menu a {
  text-decoration: none;
  color: #fff;
}

.btn1 {
  font-size: 11px;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: #ffe492;
  border: none;
}

.btn2 {
  font-size: 11px;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: #4f9cf9;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 10px;
}
.fa-arrow-right {
  margin-left: 5px;
}

/*-----Hero-Section--------*/
.hero-section {
  background-color: #043873;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5% 14%;
  background-image: url("../images/wave-background-hero.svg");
  background-size: 110%;
  background-position: 80% 100%;
  background-repeat: no-repeat;
}

.box {
  max-width: 672px;
  background-color: #c4defd;
  padding: 10px;
  max-width: 824px;
  height: 500px;
}

.text-box {
  color: #fff;
  max-width: 656px;
  padding: 30px 0;
}

.text-box h2 {
  font-family: "Inter" sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.text-box p {
  font-family: "Inter" sans-serif;
  padding: 30px 0;
}

/*........Project-Management Section-------*/
.work-management {
  padding: 10%;
  background-image: url("../images/BACKGROUND1.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: -2% 32%;
}
.project-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 5% 14%;
}

.blue-box {
  background-color: #c4defd;
  padding: 10px;
  width: 748px;
  height: 547px;
}

.project-management {
  background-image: url("../images/stroke1.svg");
  background-size: 590px;
  background-repeat: no-repeat;
  background-position: 20% 38%;
}

.project-management h2 {
  font-size: 72px;
  font-weight: 700;
  margin-right: 100px;
}

.project-management p {
  padding: 50px 0;
}

.btn {
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  background-color: #4f9cf9;
  color: #fff;
}

/*------------Work-Together-Section-----------*/
.work-box {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.together-circle {
  height: 661px;
  background-image: url("../images/work-together.svg");
  background-repeat: no-repeat;
  background-size: 660px;
}

.work-together h2 {
  background-image: url("../images/stroke-element.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  font-size: 72px;
  font-weight: 700;
}

.work-together p {
  padding: 50px 0;
  font-size: 19px;
}

.btn-together {
  padding: 20px 40px;
  border: none;
  border-radius: 6px;
  background-color: #4f9cf9;
  color: #fff;
}

/*------Extension Section---------*/

.extension-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  background-color: #043873;
  align-items: center;
  justify-content: center;
}

.text-column {
  color: #fff;
  padding: 0 10%;
}

.text-column h2 {
  font-size: 72px;
  font-weight: 700;
  background-image: url("../images/stroke-element.svg");
  background-repeat: no-repeat;
  background-size: 500px 30px;
  background-position: bottom right;
}

.text-column p {
  font-size: 18px;
  padding: 20px 0;
}

.btn-go {
  padding: 20px 40px;
  border: none;
  background-color: rgb(79, 156, 249);
  color: rgb(255, 255, 255);
  border-radius: 3px;
}
.box-column {
  background-color: #c4defd;
  max-width: 666px;
  height: 479px;
}

/*----------------Customs-------------------*/

.customise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  justify-content: space-around;
  align-items: center;
}

.customise-box {
  background-color: #c4defd;
  max-width: 666px;
  height: 479px;
  margin-left: 9%;
}

.customise-text {
  max-width: 669px;
}

.customise-text h2 {
  font-size: 80px;
  font-weight: 700;
  background-image: url("../images/stroke1.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.customise-text p {
  padding: 30px 0;
  font-size: 18px;
}

.customise-button {
  background-color: #4f9cf9;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}

/*------Choose your plan section-----*/

.choose-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-heading h2 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  background-image: url("../images/stroke1.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: bottom right;
}

.choose-text {
  max-width: 979px;
  text-align: center;
  font-size: 18px;
  padding: 25px 0;
}

/*-----price-card subsection----*/

.choose-price-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 60px;
}

.fa-circle-check i{
  display: flex;
  font-size: 80px;
  align-items: flex-start;
}

.free-card {
  border: 1px solid rgb(255, 238, 187);
  border-radius: 10px;
  /*display: grid;
  grid-template-rows: repeat(3, 1fr);*/
  padding: 40px 44px;
}

.free-heading p {
  padding: 10px 0;
}

.free-heading h3 {
  font-size: 24px;
  font-weight: 600;
}

.free-price {
  font-size: 36px;
  font-weight: 700;
}

.free-text {
  font-size: 18px;
  font-weight: 500;
}

.free-list li {
  padding: 20px 0;
  list-style-type: none;
}

.btn-free {
  background-color: rgb(255, 255, 255);
  padding: 16px 40px;
  border: 1px solid rgb(255, 238, 187);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

.personal-card {
  background-color: rgb(4, 56, 115);
  padding: 80px 44px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.personal-heading p {
  margin: 10px 0;
  padding: 20px 0;
}

.personal-heading h3 {
  font-size: 24px;
  font-weight: 600;
}

.personal-price {
  font-size: 36px;
  font-weight: 700;
}

.personal-text {
  font-size: 18px;
  font-weight: 500;
}

.personal-list li {
  padding: 20px 0;
  list-style-type: none;
}

.fa-circle-check {
  margin-right: 1rem;
}

.btn-personal {
  background-color: rgb(79, 156, 249);
  padding: 16px 40px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

.organization-card {
  border: 1px solid rgb(255, 238, 187);
  border-radius: 10px;
  /*display: grid;
  grid-template-rows: repeat(3, 1fr);*/
  padding: 40px 44px;
}

.org-heading p {
  padding: 10px 0;
}

.org-heading h3 {
  font-size: 24px;
  font-weight: 600;
}

.org-price {
  font-size: 36px;
  font-weight: 700;
}

.org-text {
  font-size: 18px;
  font-weight: 500;
}

.org-list li {
  padding: 20px 0;
  list-style-type: none;
}

.btn-org {
  background-color: rgb(255, 255, 255);
  padding: 16px 40px;
  border: 1px solid rgb(255, 238, 187);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

/*----------Your work section----------*/
.work-everywhere {
  position: relative;
  background-color: rgb(4, 56, 115);
  padding: 8.75rem 13.75rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  overflow: visible;
}

.work-everywhere::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -10px;

  width: 100%;
  height: 100%;
  background-image: url("../images/concentric-wave.svg");
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: bottom left;
}
